<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.skyscanner.hackameetup">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="net.skyscanner.hackameetup.application.SkyscannerTaskApplication"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="net.skyscanner.hackameetup.flightresults.FlightResultsActivity"
            android:label="@string/title_activity_flight_results"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
